<!doctype>
<html>
	<head>
		<meta charset="utf-8">
		<title>SpriteMap Preview</title>
		<link href="<%= name %>.css" rel="stylesheet">
	</head>
	<body>
		<h1>SpriteMap Preview</h1>
		<% _.forEach(images, function(image) { %>
		<hr>
		<div>
			<div class="<%= name %> <%= image.getSpriteName() %>"></div>
			.<%= name %>.<%= image.getSpriteName() %>
		</div>
		<% }); %>
	</body>
</html>
