.<%= name %> {
	display: block;
	background-image: url('<%= name %>.png');
	background-repeat: no-repeat;
}
<% _.forEach(images, function(image) { %>
.<%= name %>.<%= image.getSpriteName() %> {
	width: <%= image.width %>px;
	height: <%= image.height %>px;
	background-position: <%= image.x %>px <%= image.y %>px;
}
<% }); %>
